* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    position: absolute;
    width: 550px;
    height: 70px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navLogo {
    display: flex;
    height: 70px;
    padding: 20px 36px;
    max-width: 100px;
}

